node_modules

__pycache__/
venv/
*.pyc
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
build/
*.sqlite3

.vercel

react-website/src/Firebase/structuredcreativeplanning-firebase-adminsdk-y05ga-29db951c0a.json
backend/Firebase/structuredcreativeplanning-fdea4acca240.json
backend/node_modules
backend/servers/logs/