html, body {
  height: 100%;
  margin: 0;
}

.draggable-container {
  width: 20rem;
  height: 100%;
}

.MDBContainer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.MDBBtn {
  padding: 10px 20px; /* Add padding for a cleaner look */
  margin: 5px; /* Add spacing between buttons */
  border-radius: 5px; /* Rounded corners */
  font-size: 14px; /* Adjust font size */
  font-weight: bold; /* Make text bold */
  text-transform: uppercase; /* Make text uppercase */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Add hover effects */
}

.MDBBtn:hover {
  background-color: #007bff; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
  transform: scale(1.05); /* Slight zoom effect */
}

.freytag-pyramid {
  position: relative;
  height: 600px;
  width: 1000px;
  margin: 0 auto;
  padding-left: 100px; /* Add padding before the first node */
  background-color: transparent; /* Ensure no background color */
  border: none; /* Remove the border */
}

.freytag-pyramid .circle {
  width: 100px; /* Increase width */
  height: 100px; /* Increase height */
  font-size: 14px; /* Adjust font size for better readability */
  padding: 10px; /* Add padding for text spacing */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}

.pyramid-event {
  position: absolute;
  transform: translate(-50%, -50%); /* Center the event */
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.circle:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
}

.main-event {
  border: 3px solid #000; /* Highlight main events with a black border */
}

.horizontal-timeline {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
  flex-grow: 1;
  padding-bottom: 33rem;
}

.horizontal-timeline .items .items-list {
  display: inline-flex;
  position: relative;
  text-align: center;
  padding-top: 100px;
  margin-right: 0;
  white-space: normal;
}

.horizontal-timeline .items .items-list:before {
  content: "";
  position: absolute;
  height: 50px;
  border-right: 2px dashed #dee2e6;
  top: 0;
}

.horizontal-timeline .items .items-list:last-child:before {
  content: "";
  position: absolute;
  height: 100px;
  border-right: 2px dashed #dee2e6;
  top: 0;
}

.horizontal-timeline .items .items-list .circle {
  position: relative;
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #dee2e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.horizontal-timeline .items .items-list .circle.main-event {
  position: relative;
  left: 0;
  right: 0;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #dee2e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.horizontal-timeline .items .items-list .event-date {
  font-size: 0.9rem;
}

.horizontal-timeline .items .items-list .event-stage {
  font-size: 0.7rem;
}

.horizontal-timeline .items .items-list .description-container {
  position: absolute;
  top: 350px;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  padding: 1rem;
  padding-top: 5rem;
}

.add-event-btn {
  background-color: #28a745; /* Green background */
  color: #fff; /* White text */
  border: none; /* Remove border */
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  padding: 10px 20px; /* Add padding for a cleaner look */
}

.save-event-btn {
  background-color: #28a745; /* Blue background */
  color: #fff; /* White text */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding for a cleaner look */
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  font-size: 14px; /* Adjust font size */
  font-weight: bold; /* Make text bold */
  text-transform: uppercase; /* Make text uppercase */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Add hover effects */
}

.save-event-btn:hover {
  background-color: #29a345; 
  transform: scale(1.05); 
}

.cancel-event-btn {
  background-color: #6c757d; 
  color: #fff; /* White text */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding for a cleaner look */
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  font-size: 14px; /* Adjust font size */
  font-weight: bold; /* Make text bold */
  text-transform: uppercase; /* Make text uppercase */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Add hover effects */
}
.cancel-event-btn:hover {
  background-color: #5a6268; /* Darker grey on hover */
  transform: scale(1.05); /* Slight zoom effect */
}

.delete-event-btn {
  background-color: #dc3545; /* Red background */
  color: #fff; /* White text */
  border: none; /* Remove border */
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  padding: 10px 20px; /* Add padding for a cleaner look */
}

.toggle-view-btn {
  background-color: #000000; /* Blue background */
  color: #fff; /* White text */
  border: none; /* Remove border */
  margin-bottom: 15px;
  margin-top: 5px;
  margin-left: 5px;
  padding: 10px 20px; /* Add padding for a cleaner look */
}

.circle.deleting {
  cursor: pointer;
}

.delete-x {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
}

.horizontal-timeline .items .items-list {
  position: relative;
  top: 50px;
  margin: 0 auto;
  white-space: nowrap;
  padding-top: 0px;
}



@media (min-width: 1140px) {
  .horizontal-timeline .items .items-list {
      display: inline-block;
      width: 24%;
      padding-top: 45px;
  }

  .horizontal-timeline .items .items-list .circle {
      position: relative;
      top: 50px;
      left: 0;
      right: 0;
      width: 200px;
      height: 200px;
      margin: 0 auto;
      border-radius: 50%;
      background-color: #dee2e6;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }

  .draggable-container {
    display: inline-flex;
    align-items: center;
    width: 20%;
    height: 100%;
  }

}

.vertical-timeline {
  display: flex;
  flex-direction: column; /* Stack events vertically */
  align-items: center;
  height: 100%; /* Full height for scrolling */
}

.timeline-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%; /* Adjust width as needed */
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: border 0.2s ease;
}

.timeline-event:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.timeline-event .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000; /* Black text */
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dashed-line {
  position: absolute;
  height: 2px; /* Line thickness */
  background-color: transparent;
  border-top: 2px dashed #ccc; /* Dashed line style */
  z-index: 1; /* Ensure it appears behind the circles */
}